*,
*:before,
*:after {
  /* box-sizing: border-box; */
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  height: auto;
  justify-content: center;
  color: #c6d4df;
  font-size: 12px;
  flex-flow: column wrap;
  background: url(/public/images/v6/colored_body_top.png?v=2) center top
    no-repeat #1b2838;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

/* header */
header {
  padding: 0.5em 0em;
  margin-bottom: 1em;
  z-index: 20;
  background: #171a21;
  /* position: sticky; */
  width: 100%;
  top: 0;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 75%);
  /* display: block; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.825rem;
  position: relative;
}

#nav-links {
  display: flex;
  /* flex-wrap: wrap; */
  flex-shrink: 1;
  gap: 1rem;
  list-style: none;
  cursor: default;

  position: absolute;
  right: 0.5rem;
}

#home-tab:hover {
  color: #3498db;
  cursor: pointer;
}

div {
  display: block;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 10px 10px;
  margin: 0px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

#nav-links li {
  /* padding: 10px 10px;
  margin: 0px 0px; */
  display: flex;
  justify-content: center;
}

.home {
  padding: 10px 10px;
  margin: 0px 0px;
}

.about-us {
  padding: 10px 10px;
  margin: 0px 0px;
}

button:hover {
  opacity: 0.8;
}

/* main */
main {
  position: relative;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  width: 100%;
  /* padding: 0px; */
}

.searchForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* flex: 30%; */
  justify-content: space-between;
  background-image: none;
  background-color: #316282;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgb(255 255 255 / 20%);
  /* color: #fff; */
  margin-left: 5px;
  margin-bottom: 0px;
  outline: none;
  height: 30px;
  /* padding: 0px 6px; */

  justify-content: space-between;
  align-items: center;
}

input {
  width: 80%;
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Motiva Sans", Sans-serif;
  margin-top: 2px;
  margin-left: 8px;
  width: calc(100% - 25px - 8px);
  outline: none;
  line-height: 26px;
  text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
  font-weight: 300;
  /* justify-content: center; */
}

input {
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-align: center;
  display: inline-block;
  text-align: start;

  -webkit-rtl-ordering: logical;
  cursor: text;
  /* background-color: field; */
}

.searchForm button {
  margin-right: 0px;
  width: 24px;
  height: 24px;
  background-image: url(https://store.cloudflare.steamstatic.com/public/images/v6/search_icon_btn.png);
}

#categoryGroup ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  /* color: #66c0f4; */
}
#categoryGroup ul li {
  padding-bottom: 1rem;
  font-size: 14px;
}

#categoryGroup li:hover {
  color: #3498db;
}

#categoryGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  color: #718d9b;
  list-style: none;
  list-style-type: none;
  margin-top: 1em;
  padding-top: 1em;
  font-size: 20px;
  border-top: 2px solid #316282;
  cursor: pointer;
}

footer {
  width: 100%;
  /* position: sticky; */
  width: 100%;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  height: 100px;
  position: relative;
}

/* #footerTag[disabled] {
  opacity: 0.5;
  pointer-events: none;
} */

footer button {
  width: 150px;
  height: 30px;
  color: black;
  background-color: #3498db;
  position: absolute;
  bottom: 20px;
}

#loadmore:disabled {
  background-color: #7f8c8d;
  color: #636e72;
  cursor: not-allowed;
}

/* searching */

.search-games {
  max-width: 210px;
}

.show-games {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  /* justify-content: center; */
  align-content: space-between;
}

.game-title {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  min-height: 2em;
  height: auto;
  font-size: 1.25em;
  /* justify-content: center; */
  padding-left: 10px;
  margin-top: 3px;
  margin-left: 3px;
  /* align-self: center; */
}

.game-detail {
  display: flex;
  justify-content: flex-start;
  width: 85%;
  min-height: 300px;
  height: auto;
  flex-wrap: wrap;
  margin: 0px auto;
  flex-direction: row;
  font-size: 16px;

  /* background-position: bottom; */
  padding-bottom: 1px;

  padding: 16px;

  margin-top: 10px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.game-tags {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  width: 85%;
  min-height: 35px;
  height: auto;
  flex-wrap: wrap;
  margin: 0px auto;
  flex-direction: column;
  font-size: 12px;
  padding-bottom: 1px;
  padding: 16px;
  margin-top: 10px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  display: inline-block;
  line-height: 19px;
  padding: 0 7px;
  background-color: rgba(114, 188, 235, 0.2);
  border-radius: 2px;
  margin: 4px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #67c1f5;
}

.game-detail img {
  flex: 65%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: none;
  padding: 2px;
}

.contain {
  flex: 35%;
  width: 50%;
  flex-wrap: wrap;
  margin-left: 16px;
}

.description .moreinfo {
  width: 97%;
  overflow: hidden;
  font-size: 10px;
  padding: 0 8px;

  /* word-wrap: break-word; */
  /* text-overflow: ellipsis; */
}
.moreinfo {
  margin-bottom: 24px;
  margin-top: 16px;
  bottom: 16px;
  color: #3498db;
  display: block;
  /* overflow: hidden; */
}

.game_wrapper {
  width: 300px;
  max-width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 4px;
  /* flex-basis: 0 0 25%; */
  flex: 1 0 auto;
}

.cover {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  justify-content: space-between;
  object-fit: cover;
  border: none;
}

.cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: none;
}

.game-info {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Motiva Sans", Sans-serif;
  font-size: 1em;
  background: linear-gradient(
    -45deg,
    rgba(64, 121, 153, 1) 5%,
    rgba(42, 62, 89, 1) 95%
  );
  padding: 2px;

  align-items: center;
}

.game_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.show-games .game_wrapper .cover .game-info p {
  padding: 5px;
  color: #acdbf5;
}

#game-name {
  /* font-size: clamp(12px, 2vh, 24px); */
  font-size: 20px;
  max-width: 100%; /* or set a specific value */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#game-price {
  color: #e67e22;
}

@media only screen and (max-width: 375px) and (min-height: 812px) {
  #game-detail {
    width: 100%;
  }
  .game-wrapper {
    width: 100%;
  }
}
